/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: Aug 2024
*/
:root {
  
  /* Fonts */
  --ff-primary: "Inter", sans-serif;
  /* Font Sizes */
  --fs-300: 0.875rem; /*14px */
  --fs-400: 1rem;
  --fs-500: 1.5rem; /* 24px */
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-700: hsl(0, 0%, 20%);
  --clr-gray-800: hsl(0, 0%, 12%);
  --clr-gray-900: hsl(0, 0%, 8%);
  --clr-green: hsl(75, 94%, 57%);

  /* Spacing */
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
  /* Border radius */
  --br-soft: 1rem; 
  --br-round: 50%;
  

}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* BASE STYLES */
body {
  min-height: 100svh;
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  line-height: 1.5;  
  background: var(--clr-gray-900);
  color: var(--clr-white);
}

h1 {
  line-height: 1.05;
  text-wrap: balance;
}

.card {
  /* max-width: 28.5rem; */
  width: clamp(18rem, 88vw, 24rem);
  padding: var(--spacing-300);
  font-size: var(--fs-300);
  text-align: center;
  background: var(--clr-gray-800);
  border-radius: var(--spacing-150);
}

.card__img {
  margin-inline: auto;
  margin-block-end: var(--spacing-300);
  width: 5.5rem;
  height: 5.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--br-round);
}

.card__title {
  margin-bottom: var(--spacing-100);
  font-size: var(--fs-500);
  font-weight: 500;
}

.card__location {
  color: var(--clr-green);
  font-weight: 700;
}

.card__bio {
  margin: var(--spacing-300) 0;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.card__list-item {

  
}

.card__link {
  width: 100%;
  min-width: 10ch;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
  text-decoration: none;
  background: var(--clr-gray-700);
  color: var(--clr-white);
  border-radius: var(--spacing-100);
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card__link:hover,
.card__link:focus-within {
  background: var(--clr-green);
  color: var(--clr-gray-700);
}
